@import './base.css';
@import './typography.css';

#app {
	position: relative;
	width: 100%;
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	font-weight: normal;
	font-family: 'Figtree', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-purple-400);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}


/* global classes */
.g-title {
	font: 700 var(--font-size-xl)/1.25 var(--font-sans);
}

.g-modal-title {
	font: 700 var(--font-size-l)/1.25 var(--font-sans);
}

.g-paragraph {
	font: 400 var(--font-size-m)/1.15 var(--font-sans);
}


.g-btn {
	width: 100%;
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--radius-m);
	border: none;
	background-color: var(--color-purple-200);
	font: 600 var(--font-size-m)/1.15 var(--font-sans);
	text-transform: uppercase;
	color: var(--color-white);
	cursor: pointer;
}

.g-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.g-btn-inverted {
	width: 100%;
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--radius-m);
	border: none;
	background-color: var(--color-white);
	font: 600 var(--font-size-m)/1.15 var(--font-sans);
	text-transform: uppercase;
	color: var(--color-purple-200);
	cursor: pointer;
}